// Licensed to the Apache Software Foundation (ASF) under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  The ASF licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at
//
//   http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing,
// software distributed under the License is distributed on an
// "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
// KIND, either express or implied.  See the License for the
// specific language governing permissions and limitations
// under the License.

/*
Api

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package sncloud

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"
)


// CloudStreamnativeIoV1alpha2ApiService CloudStreamnativeIoV1alpha2Api service
type CloudStreamnativeIoV1alpha2ApiService service

type ApiCreateCloudStreamnativeIoV1alpha2AWSSubscriptionRequest struct {
	ctx context.Context
	ApiService *CloudStreamnativeIoV1alpha2ApiService
	body *ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2AWSSubscription
	pretty *string
	dryRun *string
	fieldManager *string
}

func (r ApiCreateCloudStreamnativeIoV1alpha2AWSSubscriptionRequest) Body(body ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2AWSSubscription) ApiCreateCloudStreamnativeIoV1alpha2AWSSubscriptionRequest {
	r.body = &body
	return r
}

// If &#39;true&#39;, then the output is pretty printed.
func (r ApiCreateCloudStreamnativeIoV1alpha2AWSSubscriptionRequest) Pretty(pretty string) ApiCreateCloudStreamnativeIoV1alpha2AWSSubscriptionRequest {
	r.pretty = &pretty
	return r
}

// When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed
func (r ApiCreateCloudStreamnativeIoV1alpha2AWSSubscriptionRequest) DryRun(dryRun string) ApiCreateCloudStreamnativeIoV1alpha2AWSSubscriptionRequest {
	r.dryRun = &dryRun
	return r
}

// fieldManager is a name associated with the actor or entity that is making these changes. The value must be less than or 128 characters long, and only contain printable characters, as defined by https://golang.org/pkg/unicode/#IsPrint.
func (r ApiCreateCloudStreamnativeIoV1alpha2AWSSubscriptionRequest) FieldManager(fieldManager string) ApiCreateCloudStreamnativeIoV1alpha2AWSSubscriptionRequest {
	r.fieldManager = &fieldManager
	return r
}

func (r ApiCreateCloudStreamnativeIoV1alpha2AWSSubscriptionRequest) Execute() (*ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2AWSSubscription, *http.Response, error) {
	return r.ApiService.CreateCloudStreamnativeIoV1alpha2AWSSubscriptionExecute(r)
}

/*
CreateCloudStreamnativeIoV1alpha2AWSSubscription Method for CreateCloudStreamnativeIoV1alpha2AWSSubscription

create an AWSSubscription

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateCloudStreamnativeIoV1alpha2AWSSubscriptionRequest
*/
func (a *CloudStreamnativeIoV1alpha2ApiService) CreateCloudStreamnativeIoV1alpha2AWSSubscription(ctx context.Context) ApiCreateCloudStreamnativeIoV1alpha2AWSSubscriptionRequest {
	return ApiCreateCloudStreamnativeIoV1alpha2AWSSubscriptionRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2AWSSubscription
func (a *CloudStreamnativeIoV1alpha2ApiService) CreateCloudStreamnativeIoV1alpha2AWSSubscriptionExecute(r ApiCreateCloudStreamnativeIoV1alpha2AWSSubscriptionRequest) (*ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2AWSSubscription, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2AWSSubscription
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudStreamnativeIoV1alpha2ApiService.CreateCloudStreamnativeIoV1alpha2AWSSubscription")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/apis/cloud.streamnative.io/v1alpha2/awssubscriptions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	if r.pretty != nil {
		localVarQueryParams.Add("pretty", parameterToString(*r.pretty, ""))
	}
	if r.dryRun != nil {
		localVarQueryParams.Add("dryRun", parameterToString(*r.dryRun, ""))
	}
	if r.fieldManager != nil {
		localVarQueryParams.Add("fieldManager", parameterToString(*r.fieldManager, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/yaml", "application/vnd.kubernetes.protobuf"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateCloudStreamnativeIoV1alpha2AWSSubscriptionStatusRequest struct {
	ctx context.Context
	ApiService *CloudStreamnativeIoV1alpha2ApiService
	name string
	body *ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2AWSSubscription
	pretty *string
	dryRun *string
	fieldManager *string
}

func (r ApiCreateCloudStreamnativeIoV1alpha2AWSSubscriptionStatusRequest) Body(body ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2AWSSubscription) ApiCreateCloudStreamnativeIoV1alpha2AWSSubscriptionStatusRequest {
	r.body = &body
	return r
}

// If &#39;true&#39;, then the output is pretty printed.
func (r ApiCreateCloudStreamnativeIoV1alpha2AWSSubscriptionStatusRequest) Pretty(pretty string) ApiCreateCloudStreamnativeIoV1alpha2AWSSubscriptionStatusRequest {
	r.pretty = &pretty
	return r
}

// When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed
func (r ApiCreateCloudStreamnativeIoV1alpha2AWSSubscriptionStatusRequest) DryRun(dryRun string) ApiCreateCloudStreamnativeIoV1alpha2AWSSubscriptionStatusRequest {
	r.dryRun = &dryRun
	return r
}

// fieldManager is a name associated with the actor or entity that is making these changes. The value must be less than or 128 characters long, and only contain printable characters, as defined by https://golang.org/pkg/unicode/#IsPrint.
func (r ApiCreateCloudStreamnativeIoV1alpha2AWSSubscriptionStatusRequest) FieldManager(fieldManager string) ApiCreateCloudStreamnativeIoV1alpha2AWSSubscriptionStatusRequest {
	r.fieldManager = &fieldManager
	return r
}

func (r ApiCreateCloudStreamnativeIoV1alpha2AWSSubscriptionStatusRequest) Execute() (*ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2AWSSubscription, *http.Response, error) {
	return r.ApiService.CreateCloudStreamnativeIoV1alpha2AWSSubscriptionStatusExecute(r)
}

/*
CreateCloudStreamnativeIoV1alpha2AWSSubscriptionStatus Method for CreateCloudStreamnativeIoV1alpha2AWSSubscriptionStatus

create status of an AWSSubscription

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param name name of the AWSSubscription
 @return ApiCreateCloudStreamnativeIoV1alpha2AWSSubscriptionStatusRequest
*/
func (a *CloudStreamnativeIoV1alpha2ApiService) CreateCloudStreamnativeIoV1alpha2AWSSubscriptionStatus(ctx context.Context, name string) ApiCreateCloudStreamnativeIoV1alpha2AWSSubscriptionStatusRequest {
	return ApiCreateCloudStreamnativeIoV1alpha2AWSSubscriptionStatusRequest{
		ApiService: a,
		ctx: ctx,
		name: name,
	}
}

// Execute executes the request
//  @return ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2AWSSubscription
func (a *CloudStreamnativeIoV1alpha2ApiService) CreateCloudStreamnativeIoV1alpha2AWSSubscriptionStatusExecute(r ApiCreateCloudStreamnativeIoV1alpha2AWSSubscriptionStatusRequest) (*ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2AWSSubscription, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2AWSSubscription
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudStreamnativeIoV1alpha2ApiService.CreateCloudStreamnativeIoV1alpha2AWSSubscriptionStatus")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/apis/cloud.streamnative.io/v1alpha2/awssubscriptions/{name}/status"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(r.name, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	if r.pretty != nil {
		localVarQueryParams.Add("pretty", parameterToString(*r.pretty, ""))
	}
	if r.dryRun != nil {
		localVarQueryParams.Add("dryRun", parameterToString(*r.dryRun, ""))
	}
	if r.fieldManager != nil {
		localVarQueryParams.Add("fieldManager", parameterToString(*r.fieldManager, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/yaml", "application/vnd.kubernetes.protobuf"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetRequest struct {
	ctx context.Context
	ApiService *CloudStreamnativeIoV1alpha2ApiService
	namespace string
	body *ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2BookKeeperSet
	pretty *string
	dryRun *string
	fieldManager *string
}

func (r ApiCreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetRequest) Body(body ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2BookKeeperSet) ApiCreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetRequest {
	r.body = &body
	return r
}

// If &#39;true&#39;, then the output is pretty printed.
func (r ApiCreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetRequest) Pretty(pretty string) ApiCreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetRequest {
	r.pretty = &pretty
	return r
}

// When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed
func (r ApiCreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetRequest) DryRun(dryRun string) ApiCreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetRequest {
	r.dryRun = &dryRun
	return r
}

// fieldManager is a name associated with the actor or entity that is making these changes. The value must be less than or 128 characters long, and only contain printable characters, as defined by https://golang.org/pkg/unicode/#IsPrint.
func (r ApiCreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetRequest) FieldManager(fieldManager string) ApiCreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetRequest {
	r.fieldManager = &fieldManager
	return r
}

func (r ApiCreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetRequest) Execute() (*ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2BookKeeperSet, *http.Response, error) {
	return r.ApiService.CreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetExecute(r)
}

/*
CreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSet Method for CreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSet

create a BookKeeperSet

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param namespace object name and auth scope, such as for teams and projects
 @return ApiCreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetRequest
*/
func (a *CloudStreamnativeIoV1alpha2ApiService) CreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSet(ctx context.Context, namespace string) ApiCreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetRequest {
	return ApiCreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetRequest{
		ApiService: a,
		ctx: ctx,
		namespace: namespace,
	}
}

// Execute executes the request
//  @return ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2BookKeeperSet
func (a *CloudStreamnativeIoV1alpha2ApiService) CreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetExecute(r ApiCreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetRequest) (*ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2BookKeeperSet, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2BookKeeperSet
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudStreamnativeIoV1alpha2ApiService.CreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/apis/cloud.streamnative.io/v1alpha2/namespaces/{namespace}/bookkeepersets"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterToString(r.namespace, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	if r.pretty != nil {
		localVarQueryParams.Add("pretty", parameterToString(*r.pretty, ""))
	}
	if r.dryRun != nil {
		localVarQueryParams.Add("dryRun", parameterToString(*r.dryRun, ""))
	}
	if r.fieldManager != nil {
		localVarQueryParams.Add("fieldManager", parameterToString(*r.fieldManager, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/yaml", "application/vnd.kubernetes.protobuf"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetOptionRequest struct {
	ctx context.Context
	ApiService *CloudStreamnativeIoV1alpha2ApiService
	namespace string
	body *ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2BookKeeperSetOption
	pretty *string
	dryRun *string
	fieldManager *string
}

func (r ApiCreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetOptionRequest) Body(body ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2BookKeeperSetOption) ApiCreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetOptionRequest {
	r.body = &body
	return r
}

// If &#39;true&#39;, then the output is pretty printed.
func (r ApiCreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetOptionRequest) Pretty(pretty string) ApiCreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetOptionRequest {
	r.pretty = &pretty
	return r
}

// When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed
func (r ApiCreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetOptionRequest) DryRun(dryRun string) ApiCreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetOptionRequest {
	r.dryRun = &dryRun
	return r
}

// fieldManager is a name associated with the actor or entity that is making these changes. The value must be less than or 128 characters long, and only contain printable characters, as defined by https://golang.org/pkg/unicode/#IsPrint.
func (r ApiCreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetOptionRequest) FieldManager(fieldManager string) ApiCreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetOptionRequest {
	r.fieldManager = &fieldManager
	return r
}

func (r ApiCreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetOptionRequest) Execute() (*ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2BookKeeperSetOption, *http.Response, error) {
	return r.ApiService.CreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetOptionExecute(r)
}

/*
CreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetOption Method for CreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetOption

create a BookKeeperSetOption

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param namespace object name and auth scope, such as for teams and projects
 @return ApiCreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetOptionRequest
*/
func (a *CloudStreamnativeIoV1alpha2ApiService) CreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetOption(ctx context.Context, namespace string) ApiCreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetOptionRequest {
	return ApiCreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetOptionRequest{
		ApiService: a,
		ctx: ctx,
		namespace: namespace,
	}
}

// Execute executes the request
//  @return ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2BookKeeperSetOption
func (a *CloudStreamnativeIoV1alpha2ApiService) CreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetOptionExecute(r ApiCreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetOptionRequest) (*ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2BookKeeperSetOption, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2BookKeeperSetOption
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudStreamnativeIoV1alpha2ApiService.CreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetOption")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/apis/cloud.streamnative.io/v1alpha2/namespaces/{namespace}/bookkeepersetoptions"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterToString(r.namespace, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	if r.pretty != nil {
		localVarQueryParams.Add("pretty", parameterToString(*r.pretty, ""))
	}
	if r.dryRun != nil {
		localVarQueryParams.Add("dryRun", parameterToString(*r.dryRun, ""))
	}
	if r.fieldManager != nil {
		localVarQueryParams.Add("fieldManager", parameterToString(*r.fieldManager, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/yaml", "application/vnd.kubernetes.protobuf"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetOptionStatusRequest struct {
	ctx context.Context
	ApiService *CloudStreamnativeIoV1alpha2ApiService
	name string
	namespace string
	body *ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2BookKeeperSetOption
	pretty *string
	dryRun *string
	fieldManager *string
}

func (r ApiCreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetOptionStatusRequest) Body(body ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2BookKeeperSetOption) ApiCreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetOptionStatusRequest {
	r.body = &body
	return r
}

// If &#39;true&#39;, then the output is pretty printed.
func (r ApiCreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetOptionStatusRequest) Pretty(pretty string) ApiCreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetOptionStatusRequest {
	r.pretty = &pretty
	return r
}

// When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed
func (r ApiCreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetOptionStatusRequest) DryRun(dryRun string) ApiCreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetOptionStatusRequest {
	r.dryRun = &dryRun
	return r
}

// fieldManager is a name associated with the actor or entity that is making these changes. The value must be less than or 128 characters long, and only contain printable characters, as defined by https://golang.org/pkg/unicode/#IsPrint.
func (r ApiCreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetOptionStatusRequest) FieldManager(fieldManager string) ApiCreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetOptionStatusRequest {
	r.fieldManager = &fieldManager
	return r
}

func (r ApiCreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetOptionStatusRequest) Execute() (*ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2BookKeeperSetOption, *http.Response, error) {
	return r.ApiService.CreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetOptionStatusExecute(r)
}

/*
CreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetOptionStatus Method for CreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetOptionStatus

create status of a BookKeeperSetOption

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param name name of the BookKeeperSetOption
 @param namespace object name and auth scope, such as for teams and projects
 @return ApiCreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetOptionStatusRequest
*/
func (a *CloudStreamnativeIoV1alpha2ApiService) CreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetOptionStatus(ctx context.Context, name string, namespace string) ApiCreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetOptionStatusRequest {
	return ApiCreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetOptionStatusRequest{
		ApiService: a,
		ctx: ctx,
		name: name,
		namespace: namespace,
	}
}

// Execute executes the request
//  @return ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2BookKeeperSetOption
func (a *CloudStreamnativeIoV1alpha2ApiService) CreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetOptionStatusExecute(r ApiCreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetOptionStatusRequest) (*ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2BookKeeperSetOption, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2BookKeeperSetOption
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudStreamnativeIoV1alpha2ApiService.CreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetOptionStatus")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/apis/cloud.streamnative.io/v1alpha2/namespaces/{namespace}/bookkeepersetoptions/{name}/status"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(r.name, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterToString(r.namespace, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	if r.pretty != nil {
		localVarQueryParams.Add("pretty", parameterToString(*r.pretty, ""))
	}
	if r.dryRun != nil {
		localVarQueryParams.Add("dryRun", parameterToString(*r.dryRun, ""))
	}
	if r.fieldManager != nil {
		localVarQueryParams.Add("fieldManager", parameterToString(*r.fieldManager, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/yaml", "application/vnd.kubernetes.protobuf"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetStatusRequest struct {
	ctx context.Context
	ApiService *CloudStreamnativeIoV1alpha2ApiService
	name string
	namespace string
	body *ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2BookKeeperSet
	pretty *string
	dryRun *string
	fieldManager *string
}

func (r ApiCreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetStatusRequest) Body(body ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2BookKeeperSet) ApiCreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetStatusRequest {
	r.body = &body
	return r
}

// If &#39;true&#39;, then the output is pretty printed.
func (r ApiCreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetStatusRequest) Pretty(pretty string) ApiCreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetStatusRequest {
	r.pretty = &pretty
	return r
}

// When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed
func (r ApiCreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetStatusRequest) DryRun(dryRun string) ApiCreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetStatusRequest {
	r.dryRun = &dryRun
	return r
}

// fieldManager is a name associated with the actor or entity that is making these changes. The value must be less than or 128 characters long, and only contain printable characters, as defined by https://golang.org/pkg/unicode/#IsPrint.
func (r ApiCreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetStatusRequest) FieldManager(fieldManager string) ApiCreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetStatusRequest {
	r.fieldManager = &fieldManager
	return r
}

func (r ApiCreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetStatusRequest) Execute() (*ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2BookKeeperSet, *http.Response, error) {
	return r.ApiService.CreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetStatusExecute(r)
}

/*
CreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetStatus Method for CreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetStatus

create status of a BookKeeperSet

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param name name of the BookKeeperSet
 @param namespace object name and auth scope, such as for teams and projects
 @return ApiCreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetStatusRequest
*/
func (a *CloudStreamnativeIoV1alpha2ApiService) CreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetStatus(ctx context.Context, name string, namespace string) ApiCreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetStatusRequest {
	return ApiCreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetStatusRequest{
		ApiService: a,
		ctx: ctx,
		name: name,
		namespace: namespace,
	}
}

// Execute executes the request
//  @return ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2BookKeeperSet
func (a *CloudStreamnativeIoV1alpha2ApiService) CreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetStatusExecute(r ApiCreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetStatusRequest) (*ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2BookKeeperSet, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2BookKeeperSet
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudStreamnativeIoV1alpha2ApiService.CreateCloudStreamnativeIoV1alpha2NamespacedBookKeeperSetStatus")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/apis/cloud.streamnative.io/v1alpha2/namespaces/{namespace}/bookkeepersets/{name}/status"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(r.name, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterToString(r.namespace, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	if r.pretty != nil {
		localVarQueryParams.Add("pretty", parameterToString(*r.pretty, ""))
	}
	if r.dryRun != nil {
		localVarQueryParams.Add("dryRun", parameterToString(*r.dryRun, ""))
	}
	if r.fieldManager != nil {
		localVarQueryParams.Add("fieldManager", parameterToString(*r.fieldManager, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/yaml", "application/vnd.kubernetes.protobuf"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateCloudStreamnativeIoV1alpha2NamespacedMonitorSetRequest struct {
	ctx context.Context
	ApiService *CloudStreamnativeIoV1alpha2ApiService
	namespace string
	body *ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2MonitorSet
	pretty *string
	dryRun *string
	fieldManager *string
}

func (r ApiCreateCloudStreamnativeIoV1alpha2NamespacedMonitorSetRequest) Body(body ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2MonitorSet) ApiCreateCloudStreamnativeIoV1alpha2NamespacedMonitorSetRequest {
	r.body = &body
	return r
}

// If &#39;true&#39;, then the output is pretty printed.
func (r ApiCreateCloudStreamnativeIoV1alpha2NamespacedMonitorSetRequest) Pretty(pretty string) ApiCreateCloudStreamnativeIoV1alpha2NamespacedMonitorSetRequest {
	r.pretty = &pretty
	return r
}

// When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed
func (r ApiCreateCloudStreamnativeIoV1alpha2NamespacedMonitorSetRequest) DryRun(dryRun string) ApiCreateCloudStreamnativeIoV1alpha2NamespacedMonitorSetRequest {
	r.dryRun = &dryRun
	return r
}

// fieldManager is a name associated with the actor or entity that is making these changes. The value must be less than or 128 characters long, and only contain printable characters, as defined by https://golang.org/pkg/unicode/#IsPrint.
func (r ApiCreateCloudStreamnativeIoV1alpha2NamespacedMonitorSetRequest) FieldManager(fieldManager string) ApiCreateCloudStreamnativeIoV1alpha2NamespacedMonitorSetRequest {
	r.fieldManager = &fieldManager
	return r
}

func (r ApiCreateCloudStreamnativeIoV1alpha2NamespacedMonitorSetRequest) Execute() (*ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2MonitorSet, *http.Response, error) {
	return r.ApiService.CreateCloudStreamnativeIoV1alpha2NamespacedMonitorSetExecute(r)
}

/*
CreateCloudStreamnativeIoV1alpha2NamespacedMonitorSet Method for CreateCloudStreamnativeIoV1alpha2NamespacedMonitorSet

create a MonitorSet

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param namespace object name and auth scope, such as for teams and projects
 @return ApiCreateCloudStreamnativeIoV1alpha2NamespacedMonitorSetRequest
*/
func (a *CloudStreamnativeIoV1alpha2ApiService) CreateCloudStreamnativeIoV1alpha2NamespacedMonitorSet(ctx context.Context, namespace string) ApiCreateCloudStreamnativeIoV1alpha2NamespacedMonitorSetRequest {
	return ApiCreateCloudStreamnativeIoV1alpha2NamespacedMonitorSetRequest{
		ApiService: a,
		ctx: ctx,
		namespace: namespace,
	}
}

// Execute executes the request
//  @return ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2MonitorSet
func (a *CloudStreamnativeIoV1alpha2ApiService) CreateCloudStreamnativeIoV1alpha2NamespacedMonitorSetExecute(r ApiCreateCloudStreamnativeIoV1alpha2NamespacedMonitorSetRequest) (*ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2MonitorSet, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2MonitorSet
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudStreamnativeIoV1alpha2ApiService.CreateCloudStreamnativeIoV1alpha2NamespacedMonitorSet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/apis/cloud.streamnative.io/v1alpha2/namespaces/{namespace}/monitorsets"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterToString(r.namespace, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	if r.pretty != nil {
		localVarQueryParams.Add("pretty", parameterToString(*r.pretty, ""))
	}
	if r.dryRun != nil {
		localVarQueryParams.Add("dryRun", parameterToString(*r.dryRun, ""))
	}
	if r.fieldManager != nil {
		localVarQueryParams.Add("fieldManager", parameterToString(*r.fieldManager, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/yaml", "application/vnd.kubernetes.protobuf"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateCloudStreamnativeIoV1alpha2NamespacedMonitorSetStatusRequest struct {
	ctx context.Context
	ApiService *CloudStreamnativeIoV1alpha2ApiService
	name string
	namespace string
	body *ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2MonitorSet
	pretty *string
	dryRun *string
	fieldManager *string
}

func (r ApiCreateCloudStreamnativeIoV1alpha2NamespacedMonitorSetStatusRequest) Body(body ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2MonitorSet) ApiCreateCloudStreamnativeIoV1alpha2NamespacedMonitorSetStatusRequest {
	r.body = &body
	return r
}

// If &#39;true&#39;, then the output is pretty printed.
func (r ApiCreateCloudStreamnativeIoV1alpha2NamespacedMonitorSetStatusRequest) Pretty(pretty string) ApiCreateCloudStreamnativeIoV1alpha2NamespacedMonitorSetStatusRequest {
	r.pretty = &pretty
	return r
}

// When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed
func (r ApiCreateCloudStreamnativeIoV1alpha2NamespacedMonitorSetStatusRequest) DryRun(dryRun string) ApiCreateCloudStreamnativeIoV1alpha2NamespacedMonitorSetStatusRequest {
	r.dryRun = &dryRun
	return r
}

// fieldManager is a name associated with the actor or entity that is making these changes. The value must be less than or 128 characters long, and only contain printable characters, as defined by https://golang.org/pkg/unicode/#IsPrint.
func (r ApiCreateCloudStreamnativeIoV1alpha2NamespacedMonitorSetStatusRequest) FieldManager(fieldManager string) ApiCreateCloudStreamnativeIoV1alpha2NamespacedMonitorSetStatusRequest {
	r.fieldManager = &fieldManager
	return r
}

func (r ApiCreateCloudStreamnativeIoV1alpha2NamespacedMonitorSetStatusRequest) Execute() (*ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2MonitorSet, *http.Response, error) {
	return r.ApiService.CreateCloudStreamnativeIoV1alpha2NamespacedMonitorSetStatusExecute(r)
}

/*
CreateCloudStreamnativeIoV1alpha2NamespacedMonitorSetStatus Method for CreateCloudStreamnativeIoV1alpha2NamespacedMonitorSetStatus

create status of a MonitorSet

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param name name of the MonitorSet
 @param namespace object name and auth scope, such as for teams and projects
 @return ApiCreateCloudStreamnativeIoV1alpha2NamespacedMonitorSetStatusRequest
*/
func (a *CloudStreamnativeIoV1alpha2ApiService) CreateCloudStreamnativeIoV1alpha2NamespacedMonitorSetStatus(ctx context.Context, name string, namespace string) ApiCreateCloudStreamnativeIoV1alpha2NamespacedMonitorSetStatusRequest {
	return ApiCreateCloudStreamnativeIoV1alpha2NamespacedMonitorSetStatusRequest{
		ApiService: a,
		ctx: ctx,
		name: name,
		namespace: namespace,
	}
}

// Execute executes the request
//  @return ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2MonitorSet
func (a *CloudStreamnativeIoV1alpha2ApiService) CreateCloudStreamnativeIoV1alpha2NamespacedMonitorSetStatusExecute(r ApiCreateCloudStreamnativeIoV1alpha2NamespacedMonitorSetStatusRequest) (*ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2MonitorSet, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2MonitorSet
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudStreamnativeIoV1alpha2ApiService.CreateCloudStreamnativeIoV1alpha2NamespacedMonitorSetStatus")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/apis/cloud.streamnative.io/v1alpha2/namespaces/{namespace}/monitorsets/{name}/status"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(r.name, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterToString(r.namespace, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	if r.pretty != nil {
		localVarQueryParams.Add("pretty", parameterToString(*r.pretty, ""))
	}
	if r.dryRun != nil {
		localVarQueryParams.Add("dryRun", parameterToString(*r.dryRun, ""))
	}
	if r.fieldManager != nil {
		localVarQueryParams.Add("fieldManager", parameterToString(*r.fieldManager, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/yaml", "application/vnd.kubernetes.protobuf"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetRequest struct {
	ctx context.Context
	ApiService *CloudStreamnativeIoV1alpha2ApiService
	namespace string
	body *ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2ZooKeeperSet
	pretty *string
	dryRun *string
	fieldManager *string
}

func (r ApiCreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetRequest) Body(body ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2ZooKeeperSet) ApiCreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetRequest {
	r.body = &body
	return r
}

// If &#39;true&#39;, then the output is pretty printed.
func (r ApiCreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetRequest) Pretty(pretty string) ApiCreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetRequest {
	r.pretty = &pretty
	return r
}

// When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed
func (r ApiCreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetRequest) DryRun(dryRun string) ApiCreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetRequest {
	r.dryRun = &dryRun
	return r
}

// fieldManager is a name associated with the actor or entity that is making these changes. The value must be less than or 128 characters long, and only contain printable characters, as defined by https://golang.org/pkg/unicode/#IsPrint.
func (r ApiCreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetRequest) FieldManager(fieldManager string) ApiCreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetRequest {
	r.fieldManager = &fieldManager
	return r
}

func (r ApiCreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetRequest) Execute() (*ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2ZooKeeperSet, *http.Response, error) {
	return r.ApiService.CreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetExecute(r)
}

/*
CreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSet Method for CreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSet

create a ZooKeeperSet

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param namespace object name and auth scope, such as for teams and projects
 @return ApiCreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetRequest
*/
func (a *CloudStreamnativeIoV1alpha2ApiService) CreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSet(ctx context.Context, namespace string) ApiCreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetRequest {
	return ApiCreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetRequest{
		ApiService: a,
		ctx: ctx,
		namespace: namespace,
	}
}

// Execute executes the request
//  @return ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2ZooKeeperSet
func (a *CloudStreamnativeIoV1alpha2ApiService) CreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetExecute(r ApiCreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetRequest) (*ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2ZooKeeperSet, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2ZooKeeperSet
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudStreamnativeIoV1alpha2ApiService.CreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/apis/cloud.streamnative.io/v1alpha2/namespaces/{namespace}/zookeepersets"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterToString(r.namespace, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	if r.pretty != nil {
		localVarQueryParams.Add("pretty", parameterToString(*r.pretty, ""))
	}
	if r.dryRun != nil {
		localVarQueryParams.Add("dryRun", parameterToString(*r.dryRun, ""))
	}
	if r.fieldManager != nil {
		localVarQueryParams.Add("fieldManager", parameterToString(*r.fieldManager, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/yaml", "application/vnd.kubernetes.protobuf"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetOptionRequest struct {
	ctx context.Context
	ApiService *CloudStreamnativeIoV1alpha2ApiService
	namespace string
	body *ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2ZooKeeperSetOption
	pretty *string
	dryRun *string
	fieldManager *string
}

func (r ApiCreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetOptionRequest) Body(body ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2ZooKeeperSetOption) ApiCreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetOptionRequest {
	r.body = &body
	return r
}

// If &#39;true&#39;, then the output is pretty printed.
func (r ApiCreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetOptionRequest) Pretty(pretty string) ApiCreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetOptionRequest {
	r.pretty = &pretty
	return r
}

// When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed
func (r ApiCreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetOptionRequest) DryRun(dryRun string) ApiCreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetOptionRequest {
	r.dryRun = &dryRun
	return r
}

// fieldManager is a name associated with the actor or entity that is making these changes. The value must be less than or 128 characters long, and only contain printable characters, as defined by https://golang.org/pkg/unicode/#IsPrint.
func (r ApiCreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetOptionRequest) FieldManager(fieldManager string) ApiCreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetOptionRequest {
	r.fieldManager = &fieldManager
	return r
}

func (r ApiCreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetOptionRequest) Execute() (*ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2ZooKeeperSetOption, *http.Response, error) {
	return r.ApiService.CreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetOptionExecute(r)
}

/*
CreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetOption Method for CreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetOption

create a ZooKeeperSetOption

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param namespace object name and auth scope, such as for teams and projects
 @return ApiCreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetOptionRequest
*/
func (a *CloudStreamnativeIoV1alpha2ApiService) CreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetOption(ctx context.Context, namespace string) ApiCreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetOptionRequest {
	return ApiCreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetOptionRequest{
		ApiService: a,
		ctx: ctx,
		namespace: namespace,
	}
}

// Execute executes the request
//  @return ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2ZooKeeperSetOption
func (a *CloudStreamnativeIoV1alpha2ApiService) CreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetOptionExecute(r ApiCreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetOptionRequest) (*ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2ZooKeeperSetOption, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2ZooKeeperSetOption
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudStreamnativeIoV1alpha2ApiService.CreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetOption")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/apis/cloud.streamnative.io/v1alpha2/namespaces/{namespace}/zookeepersetoptions"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterToString(r.namespace, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	if r.pretty != nil {
		localVarQueryParams.Add("pretty", parameterToString(*r.pretty, ""))
	}
	if r.dryRun != nil {
		localVarQueryParams.Add("dryRun", parameterToString(*r.dryRun, ""))
	}
	if r.fieldManager != nil {
		localVarQueryParams.Add("fieldManager", parameterToString(*r.fieldManager, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/yaml", "application/vnd.kubernetes.protobuf"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetOptionStatusRequest struct {
	ctx context.Context
	ApiService *CloudStreamnativeIoV1alpha2ApiService
	name string
	namespace string
	body *ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2ZooKeeperSetOption
	pretty *string
	dryRun *string
	fieldManager *string
}

func (r ApiCreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetOptionStatusRequest) Body(body ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2ZooKeeperSetOption) ApiCreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetOptionStatusRequest {
	r.body = &body
	return r
}

// If &#39;true&#39;, then the output is pretty printed.
func (r ApiCreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetOptionStatusRequest) Pretty(pretty string) ApiCreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetOptionStatusRequest {
	r.pretty = &pretty
	return r
}

// When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed
func (r ApiCreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetOptionStatusRequest) DryRun(dryRun string) ApiCreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetOptionStatusRequest {
	r.dryRun = &dryRun
	return r
}

// fieldManager is a name associated with the actor or entity that is making these changes. The value must be less than or 128 characters long, and only contain printable characters, as defined by https://golang.org/pkg/unicode/#IsPrint.
func (r ApiCreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetOptionStatusRequest) FieldManager(fieldManager string) ApiCreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetOptionStatusRequest {
	r.fieldManager = &fieldManager
	return r
}

func (r ApiCreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetOptionStatusRequest) Execute() (*ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2ZooKeeperSetOption, *http.Response, error) {
	return r.ApiService.CreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetOptionStatusExecute(r)
}

/*
CreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetOptionStatus Method for CreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetOptionStatus

create status of a ZooKeeperSetOption

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param name name of the ZooKeeperSetOption
 @param namespace object name and auth scope, such as for teams and projects
 @return ApiCreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetOptionStatusRequest
*/
func (a *CloudStreamnativeIoV1alpha2ApiService) CreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetOptionStatus(ctx context.Context, name string, namespace string) ApiCreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetOptionStatusRequest {
	return ApiCreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetOptionStatusRequest{
		ApiService: a,
		ctx: ctx,
		name: name,
		namespace: namespace,
	}
}

// Execute executes the request
//  @return ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2ZooKeeperSetOption
func (a *CloudStreamnativeIoV1alpha2ApiService) CreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetOptionStatusExecute(r ApiCreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetOptionStatusRequest) (*ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2ZooKeeperSetOption, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2ZooKeeperSetOption
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudStreamnativeIoV1alpha2ApiService.CreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetOptionStatus")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/apis/cloud.streamnative.io/v1alpha2/namespaces/{namespace}/zookeepersetoptions/{name}/status"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(r.name, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterToString(r.namespace, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	if r.pretty != nil {
		localVarQueryParams.Add("pretty", parameterToString(*r.pretty, ""))
	}
	if r.dryRun != nil {
		localVarQueryParams.Add("dryRun", parameterToString(*r.dryRun, ""))
	}
	if r.fieldManager != nil {
		localVarQueryParams.Add("fieldManager", parameterToString(*r.fieldManager, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/yaml", "application/vnd.kubernetes.protobuf"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetStatusRequest struct {
	ctx context.Context
	ApiService *CloudStreamnativeIoV1alpha2ApiService
	name string
	namespace string
	body *ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2ZooKeeperSet
	pretty *string
	dryRun *string
	fieldManager *string
}

func (r ApiCreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetStatusRequest) Body(body ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2ZooKeeperSet) ApiCreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetStatusRequest {
	r.body = &body
	return r
}

// If &#39;true&#39;, then the output is pretty printed.
func (r ApiCreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetStatusRequest) Pretty(pretty string) ApiCreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetStatusRequest {
	r.pretty = &pretty
	return r
}

// When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed
func (r ApiCreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetStatusRequest) DryRun(dryRun string) ApiCreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetStatusRequest {
	r.dryRun = &dryRun
	return r
}

// fieldManager is a name associated with the actor or entity that is making these changes. The value must be less than or 128 characters long, and only contain printable characters, as defined by https://golang.org/pkg/unicode/#IsPrint.
func (r ApiCreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetStatusRequest) FieldManager(fieldManager string) ApiCreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetStatusRequest {
	r.fieldManager = &fieldManager
	return r
}

func (r ApiCreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetStatusRequest) Execute() (*ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2ZooKeeperSet, *http.Response, error) {
	return r.ApiService.CreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetStatusExecute(r)
}

/*
CreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetStatus Method for CreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetStatus

create status of a ZooKeeperSet

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param name name of the ZooKeeperSet
 @param namespace object name and auth scope, such as for teams and projects
 @return ApiCreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetStatusRequest
*/
func (a *CloudStreamnativeIoV1alpha2ApiService) CreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetStatus(ctx context.Context, name string, namespace string) ApiCreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetStatusRequest {
	return ApiCreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetStatusRequest{
		ApiService: a,
		ctx: ctx,
		name: name,
		namespace: namespace,
	}
}

// Execute executes the request
//  @return ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2ZooKeeperSet
func (a *CloudStreamnativeIoV1alpha2ApiService) CreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetStatusExecute(r ApiCreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetStatusRequest) (*ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2ZooKeeperSet, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ComGithubStreamnativeCloudApiServerPkgApisCloudV1alpha2ZooKeeperSet
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudStreamnativeIoV1alpha2ApiService.CreateCloudStreamnativeIoV1alpha2NamespacedZooKeeperSetStatus")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/apis/cloud.streamnative.io/v1alpha2/namespaces/{namespace}/zookeepersets/{name}/status"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(r.name, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterToString(r.namespace, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	if r.pretty != nil {
		localVarQueryParams.Add("pretty", parameterToString(*r.pretty, ""))
	}
	if r.dryRun != nil {
		localVarQueryParams.Add("dryRun", parameterToString(*r.dryRun, ""))
	}
	if r.fieldManager != nil {
		localVarQueryParams.Add("fieldManager", parameterToString(*r.fieldManager, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/yaml", "application/vnd.kubernetes.protobuf"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteCloudStreamnativeIoV1alpha2AWSSubscriptionRequest struct {
	ctx context.Context
	ApiService *CloudStreamnativeIoV1alpha2ApiService
	name string
	pretty *string
	dryRun *string
	gracePeriodSeconds *int32
	orphanDependents *bool
	propagationPolicy *string
	body *V1DeleteOptions
}

// If &#39;true&#39;, then the output is pretty printed.
func (r ApiDeleteCloudStreamnativeIoV1alpha2AWSSubscriptionRequest) Pretty(pretty string) ApiDeleteCloudStreamnativeIoV1alpha2AWSSubscriptionRequest {
	r.pretty = &pretty
	return r
}

// When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed
func (r ApiDeleteCloudStreamnativeIoV1alpha2AWSSubscriptionRequest) DryRun(dryRun string) ApiDeleteCloudStreamnativeIoV1alpha2AWSSubscriptionRequest {
	r.dryRun = &dryRun
	return r
}

// The duration in seconds before the object should be deleted. Value must be non-negative integer. The value zero indicates delete immediately. If this value is nil, the default grace period for the specified type will be used. Defaults to a per object value if not specified. zero means delete immediately.
func (r ApiDeleteCloudStreamnativeIoV1alpha2AWSSubscriptionRequest) GracePeriodSeconds(gracePeriodSeconds int32) ApiDeleteCloudStreamnativeIoV1alpha2AWSSubscriptionRequest {
	r.gracePeriodSeconds = &gracePeriodSeconds
	return r
}

// Deprecated: please use the PropagationPolicy, this field will be deprecated in 1.7. Should the dependent objects be orphaned. If true/false, the \&quot;orphan\&quot; finalizer will be added to/removed from the object&#39;s finalizers list. Either this field or PropagationPolicy may be set, but not both.
func (r ApiDeleteCloudStreamnativeIoV1alpha2AWSSubscriptionRequest) OrphanDependents(orphanDependents bool) ApiDeleteCloudStreamnativeIoV1alpha2AWSSubscriptionRequest {
	r.orphanDependents = &orphanDependents
	return r
}

// Whether and how garbage collection will be performed. Either this field or OrphanDependents may be set, but not both. The default policy is decided by the existing finalizer set in the metadata.finalizers and the resource-specific default policy. Acceptable values are: &#39;Orphan&#39; - orphan the dependents; &#39;Background&#39; - allow the garbage collector to delete the dependents in the background; &#39;Foreground&#39; - a cascading policy that deletes all dependents in the foreground.
func (r ApiDeleteCloudStreamnativeIoV1alpha2AWSSubscriptionRequest) PropagationPolicy(propagationPolicy string) ApiDeleteCloudStreamnativeIoV1alpha2AWSSubscriptionRequest {
	r.propagationPolicy = &propagationPolicy
	return r
}

func (r ApiDeleteCloudStreamnativeIoV1alpha2AWSSubscriptionRequest) Body(body V1DeleteOptions) ApiDeleteCloudStreamnativeIoV1alpha2AWSSubscriptionRequest {
	r.body = &body
	return r
}

func (r ApiDeleteCloudStreamnativeIoV1alpha2AWSSubscriptionRequest) Execute() (*V1Status, *http.Response, error) {
	return r.ApiService.DeleteCloudStreamnativeIoV1alpha2AWSSubscriptionExecute(r)
}

/*
DeleteCloudStreamnativeIoV1alpha2AWSSubscription Method for DeleteCloudStreamnativeIoV1alpha2AWSSubscription

delete an AWSSubscription

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param name name of the AWSSubscription
 @return ApiDeleteCloudStreamnativeIoV1alpha2AWSSubscriptionRequest
*/
func (a *CloudStreamnativeIoV1alpha2ApiService) DeleteCloudStreamnativeIoV1alpha2AWSSubscription(ctx context.Context, name string) ApiDeleteCloudStreamnativeIoV1alpha2AWSSubscriptionRequest {
	return ApiDeleteCloudStreamnativeIoV1alpha2AWSSubscriptionRequest{
		ApiService: a,
		ctx: ctx,
		name: name,
	}
}

// Execute executes the request
//  @return V1Status
func (a *CloudStreamnativeIoV1alpha2ApiService) DeleteCloudStreamnativeIoV1alpha2AWSSubscriptionExecute(r ApiDeleteCloudStreamnativeIoV1alpha2AWSSubscriptionRequest) (*V1Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *V1Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudStreamnativeIoV1alpha2ApiService.DeleteCloudStreamnativeIoV1alpha2AWSSubscription")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/apis/cloud.streamnative.io/v1alpha2/awssubscriptions/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(r.name, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.pretty != nil {
		localVarQueryParams.Add("pretty", parameterToString(*r.pretty, ""))
	}
	if r.dryRun != nil {
		localVarQueryParams.Add("dryRun", parameterToString(*r.dryRun, ""))
	}
	if r.gracePeriodSeconds != nil {
		localVarQueryParams.Add("gracePeriodSeconds", parameterToString(*r.gracePeriodSeconds, ""))
	}
	if r.orphanDependents != nil {
		localVarQueryParams.Add("orphanDependents", parameterToString(*r.orphanDependents, ""))
	}
	if r.propagationPolicy != nil {
		localVarQueryParams.Add("propagationPolicy", parameterToString(*r.propagationPolicy, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/yaml", "application/vnd.kubernetes.protobuf"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteCloudStreamnativeIoV1alpha2AWSSubscriptionStatusRequest struct {
	ctx context.Context
	ApiService *CloudStreamnativeIoV1alpha2ApiService
	name string
	pretty *string
	dryRun *string
	gracePeriodSeconds *int32
	orphanDependents *bool
	propagationPolicy *string
	body *V1DeleteOptions
}

// If &#39;true&#39;, then the output is pretty printed.
func (r ApiDeleteCloudStreamnativeIoV1alpha2AWSSubscriptionStatusRequest) Pretty(pretty string) ApiDeleteCloudStreamnativeIoV1alpha2AWSSubscriptionStatusRequest {
	r.pretty = &pretty
	return r
}

// When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed
func (r ApiDeleteCloudStreamnativeIoV1alpha2AWSSubscriptionStatusRequest) DryRun(dryRun string) ApiDeleteCloudStreamnativeIoV1alpha2AWSSubscriptionStatusRequest {
	r.dryRun = &dryRun
	return r
}

// The duration in seconds before the object should be deleted. Value must be non-negative integer. The value zero indicates delete immediately. If this value is nil, the default grace period for the specified type will be used. Defaults to a per object value if not specified. zero means delete immediately.
func (r ApiDeleteCloudStreamnativeIoV1alpha2AWSSubscriptionStatusRequest) GracePeriodSeconds(gracePeriodSeconds int32) ApiDeleteCloudStreamnativeIoV1alpha2AWSSubscriptionStatusRequest {
	r.gracePeriodSeconds = &gracePeriodSeconds
	return r
}

// Deprecated: please use the PropagationPolicy, this field will be deprecated in 1.7. Should the dependent objects be orphaned. If true/false, the \&quot;orphan\&quot; finalizer will be added to/removed from the object&#39;s finalizers list. Either this field or PropagationPolicy may be set, but not both.
func (r ApiDeleteCloudStreamnativeIoV1alpha2AWSSubscriptionStatusRequest) OrphanDependents(orphanDependents bool) ApiDeleteCloudStreamnativeIoV1alpha2AWSSubscriptionStatusRequest {
	r.orphanDependents = &orphanDependents
	return r
}

// Whether and how garbage collection will be performed. Either this field or OrphanDependents may be set, but not both. The default policy is decided by the existing finalizer set in the metadata.finalizers and the resource-specific default policy. Acceptable values are: &#39;Orphan&#39; - orphan the dependents; &#39;Background&#39; - allow the garbage collector to delete the dependents in the background; &#39;Foreground&#39; - a cascading policy that deletes all dependents in the foreground.
func (r ApiDeleteCloudStreamnativeIoV1alpha2AWSSubscriptionStatusRequest) PropagationPolicy(propagationPolicy string) ApiDeleteCloudStreamnativeIoV1alpha2AWSSubscriptionStatusRequest {
	r.propagationPolicy = &propagationPolicy
	return r
}

func (r ApiDeleteCloudStreamnativeIoV1alpha2AWSSubscriptionStatusRequest) Body(body V1DeleteOptions) ApiDeleteCloudStreamnativeIoV1alpha2AWSSubscriptionStatusRequest {
	r.body = &body
	return r
}

func (r ApiDeleteCloudStreamnativeIoV1alpha2AWSSubscriptionStatusRequest) Execute() (*V1Status, *http.Response, error) {
	return r.ApiService.DeleteCloudStreamnativeIoV1alpha2AWSSubscriptionStatusExecute(r)
}

/*
DeleteCloudStreamnativeIoV1alpha2AWSSubscriptionStatus Method for DeleteCloudStreamnativeIoV1alpha2AWSSubscriptionStatus

delete status of an AWSSubscription

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param name name of the AWSSubscription
 @return ApiDeleteCloudStreamnativeIoV1alpha2AWSSubscriptionStatusRequest
*/
func (a *CloudStreamnativeIoV1alpha2ApiService) DeleteCloudStreamnativeIoV1alpha2AWSSubscriptionStatus(ctx context.Context, name string) ApiDeleteCloudStreamnativeIoV1alpha2AWSSubscriptionStatusRequest {
	return ApiDeleteCloudStreamnativeIoV1alpha2AWSSubscriptionStatusRequest{
		ApiService: a,
		ctx: ctx,
		name: name,
	}
}

// Execute executes the request
//  @return V1Status
func (a *CloudStreamnativeIoV1alpha2ApiService) DeleteCloudStreamnativeIoV1alpha2AWSSubscriptionStatusExecute(r ApiDeleteCloudStreamnativeIoV1alpha2AWSSubscriptionStatusRequest) (*V1Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *V1Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudStreamnativeIoV1alpha2ApiService.DeleteCloudStreamnativeIoV1alpha2AWSSubscriptionStatus")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/apis/cloud.streamnative.io/v1alpha2/awssubscriptions/{name}/status"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(r.name, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.pretty != nil {
		localVarQueryParams.Add("pretty", parameterToString(*r.pretty, ""))
	}
	if r.dryRun != nil {
		localVarQueryParams.Add("dryRun", parameterToString(*r.dryRun, ""))
	}
	if r.gracePeriodSeconds != nil {
		localVarQueryParams.Add("gracePeriodSeconds", parameterToString(*r.gracePeriodSeconds, ""))
	}
	if r.orphanDependents != nil {
		localVarQueryParams.Add("orphanDependents", parameterToString(*r.orphanDependents, ""))
	}
	if r.propagationPolicy != nil {
		localVarQueryParams.Add("propagationPolicy", parameterToString(*r.propagationPolicy, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/yaml", "application/vnd.kubernetes.protobuf"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteCloudStreamnativeIoV1alpha2CollectionAWSSubscriptionRequest struct {
	ctx context.Context
	ApiService *CloudStreamnativeIoV1alpha2ApiService
	pretty *string
	continue_ *string
	dryRun *string
	fieldSelector *string
	gracePeriodSeconds *int32
	labelSelector *string
	limit *int32
	orphanDependents *bool
	propagationPolicy *string
	resourceVersion *string
	resourceVersionMatch *string
	timeoutSeconds *int32
	body *V1DeleteOptions
}

// If &#39;true&#39;, then the output is pretty printed.
func (r ApiDeleteCloudStreamnativeIoV1alpha2CollectionAWSSubscriptionRequest) Pretty(pretty string) ApiDeleteCloudStreamnativeIoV1alpha2CollectionAWSSubscriptionRequest {
	r.pretty = &pretty
	return r
}

// The continue option should be set when retrieving more results from the server. Since this value is server defined, clients may only use the continue value from a previous query result with identical query parameters (except for the value of continue) and the server may reject a continue value it does not recognize. If the specified continue value is no longer valid whether due to expiration (generally five to fifteen minutes) or a configuration change on the server, the server will respond with a 410 ResourceExpired error together with a continue token. If the client needs a consistent list, it must restart their list without the continue field. Otherwise, the client may send another list request with the token received with the 410 error, the server will respond with a list starting from the next key, but from the latest snapshot, which is inconsistent from the previous list results - objects that are created, modified, or deleted after the first list request will be included in the response, as long as their keys are after the \&quot;next key\&quot;.  This field is not supported when watch is true. Clients may start a watch from the last resourceVersion value returned by the server and not miss any modifications.
func (r ApiDeleteCloudStreamnativeIoV1alpha2CollectionAWSSubscriptionRequest) Continue_(continue_ string) ApiDeleteCloudStreamnativeIoV1alpha2CollectionAWSSubscriptionRequest {
	r.continue_ = &continue_
	return r
}

// When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed
func (r ApiDeleteCloudStreamnativeIoV1alpha2CollectionAWSSubscriptionRequest) DryRun(dryRun string) ApiDeleteCloudStreamnativeIoV1alpha2CollectionAWSSubscriptionRequest {
	r.dryRun = &dryRun
	return r
}

// A selector to restrict the list of returned objects by their fields. Defaults to everything.
func (r ApiDeleteCloudStreamnativeIoV1alpha2CollectionAWSSubscriptionRequest) FieldSelector(fieldSelector string) ApiDeleteCloudStreamnativeIoV1alpha2CollectionAWSSubscriptionRequest {
	r.fieldSelector = &fieldSelector
	return r
}

// The duration in seconds before the object should be deleted. Value must be non-negative integer. The value zero indicates delete immediately. If this value is nil, the default grace period for the specified type will be used. Defaults to a per object value if not specified. zero means delete immediately.
func (r ApiDeleteCloudStreamnativeIoV1alpha2CollectionAWSSubscriptionRequest) GracePeriodSeconds(gracePeriodSeconds int32) ApiDeleteCloudStreamnativeIoV1alpha2CollectionAWSSubscriptionRequest {
	r.gracePeriodSeconds = &gracePeriodSeconds
	return r
}

// A selector to restrict the list of returned objects by their labels. Defaults to everything.
func (r ApiDeleteCloudStreamnativeIoV1alpha2CollectionAWSSubscriptionRequest) LabelSelector(labelSelector string) ApiDeleteCloudStreamnativeIoV1alpha2CollectionAWSSubscriptionRequest {
	r.labelSelector = &labelSelector
	return r
}

// limit is a maximum number of responses to return for a list call. If more items exist, the server will set the &#x60;continue&#x60; field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results. Setting a limit may return fewer than the requested amount of items (up to zero items) in the event all requested objects are filtered out and clients should only use the presence of the continue field to determine whether more results are available. Servers may choose not to support the limit argument and will return all of the available results. If limit is specified and the continue field is empty, clients may assume that no more results are available. This field is not supported if watch is true.  The server guarantees that the objects returned when using continue will be identical to issuing a single list call without a limit - that is, no objects created, modified, or deleted after the first request is issued will be included in any subsequent continued requests. This is sometimes referred to as a consistent snapshot, and ensures that a client that is using limit to receive smaller chunks of a very large result can ensure they see all possible objects. If objects are updated during a chunked list the version of the object that was present at the time the first list result was calculated is returned.
func (r ApiDeleteCloudStreamnativeIoV1alpha2CollectionAWSSubscriptionRequest) Limit(limit int32) ApiDeleteCloudStreamnativeIoV1alpha2CollectionAWSSubscriptionRequest {
	r.limit = &limit
	return r
}

// Deprecated: please use the PropagationPolicy, this field will be deprecated in 1.7. Should the dependent objects be orphaned. If true/false, the \&quot;orphan\&quot; finalizer will be added to/removed from the object&#39;s finalizers list. Either this field or PropagationPolicy may be set, but not both.
func (r ApiDeleteCloudStreamnativeIoV1alpha2CollectionAWSSubscriptionRequest) OrphanDependents(orphanDependents bool) ApiDeleteCloudStreamnativeIoV1alpha2CollectionAWSSubscriptionRequest {
	r.orphanDependents = &orphanDependents
	return r
}

// Whether and how garbage collection will be performed. Either this field or OrphanDependents may be set, but not both. The default policy is decided by the existing finalizer set in the metadata.finalizers and the resource-specific default policy. Acceptable values are: &#39;Orphan&#39; - orphan the dependents; &#39;Background&#39; - allow the garbage collector to delete the dependents in the background; &#39;Foreground&#39; - a cascading policy that deletes all dependents in the foreground.
[...]
